<div class="p-4">
  <h2 class="text-lg font-semibold">Gestion des Hebergement</h2>
  <button class="bg-blue-500 text-white px-4 py-2 rounded-md mt-4" >Ajouter un  Hebergement</button>
  <table class="min-w-full mt-4">
    <thead>
    <tr>
      <th class="px-4 py-2">nom</th>
      <th class="px-4 py-2">prenom</th>
      <th class="px-4 py-2">email</th>
      <th class="px-4 py-2">telephone</th>
      <th class="px-4 py-2">adresse</th>
      <th class="px-4 py-2">tarifParJour</th>
      <th class="px-4 py-2">descriptionService</th>
      <th class="px-4 py-2">photosHebergement</th>

    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="border px-4 py-2"></td>
      <td class="border px-4 py-2"></td>
      <td class="border px-4 py-2"></td>
      <td class="border px-4 py-2"></td>
      <td class="border px-4 py-2">
      </td>
      <td class="border px-4 py-2"></td>
      <td class="border px-4 py-2"></td>
      <td class="border px-4 py-2"></td>
      <td class="border px-4 py-2">
        <button class="bg-yellow-500 text-white px-2 py-1 rounded-md" >Modifier</button>
        <button class="bg-red-500 text-white px-2 py-1 rounded-md ml-2" >Supprimer</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
