<div class="m-52 bg-gray-100">
  <div class="container mx-auto px-4 py-8">
    <div *ngIf="hebergement"> <!-- Vérifie si hebergement est défini -->
      <!-- Section des images -->
      <div class="w-full md:w-1/2 px-4 mb-8">
        <img [src]="'http://localhost:8081' + hebergement.photosHebergement[0]"
             alt="Photo de l'hébergement"
             class="w-full h-auto rounded-lg shadow-md mb-4" id="mainImage">
        <div class="flex gap-4 py-4 justify-center overflow-x-auto">
          <img *ngFor="let photo of hebergement.photosHebergement.slice(1)"
               [src]="'http://localhost:8081' + photo"
               alt="Thumbnail"
               class="size-16 sm:size-20 object-cover rounded-md cursor-pointer opacity-60 hover:opacity-100 transition duration-300"
               >
        </div>
      </div>

      <!-- Section des détails -->
      <div class="w-full md:w-1/2 px-4">
        <h2 class="text-3xl font-bold mb-2">{{ hebergement.nom }} {{ hebergement.prenom }}</h2>
        <p class="text-gray-600 mb-4">Hébergement ID: {{ hebergement.id }}</p>

        <!-- Tarif par jour -->
        <div class="mb-4">
          <span class="text-2xl font-bold mr-2">{{ hebergement.tarifParJour }} €</span>
          <span class="text-gray-500">par jour</span>
        </div>

        <!-- Types d'animaux acceptés -->
        <div class="mb-6">
          <h3 class="text-lg font-semibold mb-2">Types d'animaux acceptés:</h3>
          <ul class="list-disc list-inside text-gray-700">
            <li *ngFor="let type of hebergement.typeAnimauxAcceptesNoms">{{ type }}</li>
          </ul>
        </div>

        <!-- Description -->
        <div class="mb-6">
          <h3 class="text-lg font-semibold mb-2">Description:</h3>
          <p class="text-gray-700">{{ hebergement.descriptionService }}</p>
        </div>

        <!-- Bouton de réservation -->
        <div class="flex space-x-4 mb-6">
          <button
            class="bg-indigo-600 flex gap-2 items-center text-white px-6 py-2 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                 stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                    d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
            </svg>
            Réserver
          </button>
        </div>
      </div>
    </div>

    <!-- Message de chargement -->
    <div *ngIf="!hebergement">
      <p>Chargement des détails de l'hébergement...</p>
    </div>
  </div>
</div>
